[Desktop Entry]
Type=Application
Version=1.0
Name=Spotsie
GenericName=Music Player
Comment=A native Spotify client
Exec=spotsie %u
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=spotify;music;player;streaming;spotsie;
Icon=spotsie
StartupNotify=true
StartupWMClass=spotsie
MimeType=x-scheme-handler/spotify;
